.left-div {
  float: left;
  border: double;
  padding:2%;
  overflow: scroll;
  height: 500px;
}

.right-div{
  float: right;
  border: double;
  padding:2%;
  
}

body{
  padding: 10%;
  padding-right: 10%;
  font-family: 'Arvo', serif;
}

